@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7e5f, #f9a96b); 
}

header{
    background-color: green;
}

header h1{
    text-align: center;
}

header ul{
    display: flex;
    justify-content: right;
    margin-right: 50px;
    list-style-type: none;
    padding: 20px 0 0 0;

}

header ul li{
    padding: 30px 20px 0px 20px;
}

a{
    text-align: center;
    text-decoration: none;
    color: white;
}

a #bio{
    padding-right: 50px;
}

nav{
    text-align: center;
}