@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7e5f, #f9a96b); 
}

header{
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}

header h1{
    padding: 10px;
    text-align: center;
}

a{
    text-align: center;
    text-decoration: none;
    color: white;
}

a #bio{
    padding-right: 50px;
}