@charset "UTF-8";

#header {

    text-align: top;
    color: white;

}

#header a{

    display: block;
    text-align: center;
    color : white;
    text-decoration: none;
    font-size: 50px;

}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh; 
    background-color: #000000;

}

#screen {

    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 400px;
    border: 1px solid white;
    margin-bottom: 50px;

}

#textbox {

    text-align: center;

}

#img {

    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 400px;

}

#footer{

    color: white;
    text-align: center;

}

